body {
    align-items: center;
    display: flex;
}

.container {
    text-align: var(--text-alignment);
    background-color: var(--background-colour);
    /* color: var(--text-colour); */
}
    
li {
    display: inline-block;
    /* font-size: 0.8em; */
    list-style: none;
    padding: 0 0.8em 0 0.8em;
    text-transform: uppercase;
}
    
li span {
    display: block;
    /* font-size: 2rem; */
}