/*
* OSF_B2BGlobalStyle.css
*
* This file contains the global styles for the B2B site.
* It includes styles for the header, category items, and selected categories.
*/
.header {
    background-color: var(--dxp-g-root);
}

.category-item {
    font-size: 1rem;
    font-weight: normal !important;
}

.selected-category {
    font-size: 1rem;
}

commerce_search-facet-item:not(:first-child) {
    padding-top: 0;
}